body, html, tr, th{
    background: #252525!important;
    color: #fff!important;
}

div, a{
    color: #fff!important;
}

.presence-users, .post-notice, .map, .menu-panel.drop-down, .read, .primary-textual, .user-content, .item, .badge-contents, .reply-area{
    background: #252525!important;
    color: #fff!important;
}

blockquote, aside.quote .title{
        background: #393939!important;    
}

.name {
    color: #252525!important;
}

.user-menu .quick-access-panel li span:first-child, .large-notification a span:first-child, .excerpt{
    color: #fff!important;
}

